<center><h2>Introdução ao Pandas</h2></center>

In [2]:
# importando a biblioteca pandas
import pandas as pd

In [23]:
# Séries - um array unidimensional
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
#type(s)
s

a    3
b   -5
c    7
d    4
dtype: int64

In [40]:
# Dicionário para o Data Frame
data = {
    'Country': ['Belgium', 'India', 'Brazil'],
    'Capital': ['Brussels', 'New Delhi', 'Brasília'],
    'Population': [11190846, 1303171035, 207847528]
}

#Data Frame - um array dimensional
df = pd.DataFrame(data, columns=['Country','Capital','Population'])
# type(df)
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [48]:
# lendo arquivos CSV
pd.read_csv('data/iris.csv', nrows=5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [53]:
# Para escrever arquivos CSV
df.to_csv('data/nova_iris.csv')

In [54]:
# Lendo arquivos de Excel
pd.read_excel('data/meu_arquivo.xlsx')

   Limão  Laranha  Pera  Uva
0     23       10     1    3
1      1        9     4    4
2      6        5     8    6
3      0        4     5    9
4      5        7     4   25
5      7       15     2    5
6      6        4     1    9

In [56]:
#Para escrever arquivos Excel
#pd.to_excel('data/meu_arquivo_excel.xlsx', sheet_name='Plan4', index=False)

xlsx = pd.ExcelFile('meu_arquivo.xlsx')
df = pd.read_excel(xlsx, 'Planilha 1')

AttributeError: module 'pandas' has no attribute 'to_excel'

#### fonte: https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf